<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4ThNy-0XiBhLD7IGCDeg8_egjxRjyi-A</string>
	<key>GCM_SENDER_ID</key>
	<string>763485224851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.iz.mobile</string>
	<key>PROJECT_ID</key>
	<string>no-iz-15ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>no-iz-15ca2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763485224851:ios:8381e05d02074b225c3266</string>
</dict>
</plist>